body
{
    background-color: #cef2f2;
    padding: 20px;
}

div
{
    background-color: #a3cfb5;
    padding: 30px;
}

button
{
    background-color: #e0c1db;
    border-color:#5e3356 ;
}

#RPSresult
{
    background-color: white;
    padding:10px;
    border-color: black;
}